.header {
  border-bottom: 1px solid #eaeaea;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: .8em 2rem;
  border-bottom: 1px solid #eaeaea;
  background: var(--main-dark);
  color: var(--font-light);
  font-size: .85rem;
}

.address {
  display: flex;
  flex-direction: column;
}

.address p {
  margin-right: 1.2rem;
}

.icon {
  vertical-align: middle;
  color: var(--main-accent);
}

.login {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.login__icon {
  font-size: 1.4rem;
  margin-right: 5px;
}

.main {
  padding: 0 2rem;
}

/* MEDIA QUERIES */

@media (min-width: 486px) {
  .info {
    flex-direction: row;
  }

  .login {
    margin-top: .5rem;
  }
}

@media (min-width: 890px) {
  .address {
    flex-direction: row;
  }
}