.navbar {
  display: flex;
  align-items: center;
  z-index: 999;
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  flex: 1;
  margin: 0 .5rem;
}

.navbar__brand span {
  font-size: 1.2rem;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  flex: 1;
}

.navbar__link {
  cursor: pointer;
  padding: 1.4rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: 1.2px;
  transition: .4s all;
  position: relative;
}

.navbar__link:hover {
  background: #ecf0f1;
  color: #e74c3c;
}

.navbar__link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--main-accent);
  transition: all .4s;
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__link_icon {
  display: flex;
  align-items: center;
}

.navbar__icon {
  margin-left: 5px;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  position: absolute;
  background: white;
  left: 0;
  width: 200%;
  list-style-type: none;
  white-space: nowrap;
  box-shadow: var(--shadow-basic);
  transition: opacity .8s;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.dropdown__link {
  font-size: 1rem;
  transition: background .4s;
  padding: 10px 15px;
  display: block;
}

.dropdown__link:hover {
  background: #ecf0f1; 
  color: var(--main-accent);
}

.dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}

.cart {
  cursor: pointer;
  flex: 1;
}

.cart__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart__counter {
  padding: .4rem;
  background: var(--grey-light-color);
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: 600;
  margin-left: 2px;
}

.cart__icon {
  font-size: 1.6rem;
  transition: color .4s;
}

.cart__icon:hover {
  color: var(--main-accent);
}