.navbar {
  display: flex;
  align-items: center;
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  flex: 1;
  margin: 0 .5rem;
}

.navbar__brand span {
  font-size: 1.2rem;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  flex: 1;
}

.navbar__link {
  cursor: pointer;
  padding: 1.4rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: 1.2px;
  transition: .4s all;
  position: relative;
}

.navbar__link:hover {
  background: #ecf0f1;
  color: #e74c3c;
}

.navbar__link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--main-accent);
  transition: all .4s;
}

.navbar__link:hover::after {
  width: 100%;
}

.cart {
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.cart__link {
  position: relative;
}

.cart__counter {
  position: absolute;
  right: -15px;
  top: -12px;
  background: var(--main-accent);
  color: var(--font-light);
  width: 22px;
  border-radius: 6px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  z-index: -1;
}

.cart__icon {
  font-size: 1.6rem;
  transition: color .4s;
}

.cart__icon:hover {
  color: var(--main-accent);
}