.container {
  padding: 1.5rem;
}

.form {
  border: 1px solid var(--grey-light-colot);
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: var(--shadow-basic);
  padding: 1.5rem 1rem;
  margin: .5rem;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__group {
  margin: 0 1rem;
}

.heading {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading__title {
  font-weight: 500;
  color: #34495e;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.heading__icon {
  margin-right: 4px;
  font-size: 1.6rem;
}

.heading__line {
  display: block;
  width: 100%;
  height: 1px;
  margin: .5rem 0;
  background: #34495e;
}

.form__input_group {
  display: flex;
  flex-direction: column;
  margin-bottom: .6rem;
}

.form__input,
.form__select {
  max-width: 15rem;
  width: 100%;
  padding: .5rem .8rem;
  outline: none;
  border: none;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: .2rem;
}

.form__control {
  margin: 1rem .5rem .5rem;
  display: flex;
  justify-content: space-between;
}

.input__info {
  font-size: .9rem;
  font-weight: 600;
  color: var(--danger-red);
}

.error {
  border-color: var(--danger-red);
}

.separator {
  display: block;
  height: 1px;
  background: var(--main-dark);
  width: 100%;
  margin: .4rem 0;
  opacity: .1;
}

.summary {
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--grey-light-color);
  background: var(--white-color);
  box-shadow: var(--shadow-basic);
  margin: .5rem;
}

.summary__item {
  flex-basis: calc(4/12*100%);
}

.summary__box {
  margin-bottom: .7rem;
}

.summary__box span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  opacity: .8;
  color: var(--main-dark);
  border-bottom: 1px solid var(--main-dark);
  margin-bottom: 5px;
  display: inline-block;
}

.summary__item .form__input_group {
  flex-direction: row;
  justify-content: center;
}

.summary__item .form__input {
  margin: 0 .4rem;
}

.summary__item .form__control {
  margin: .5rem 1rem 0 1rem;
}

@media (min-width: 592px) {
  .form__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
}