.container {
  padding: 1.5rem;
}

.form {
  width: calc(10/12*100%);
  border: 1px solid var(--grey-light-colot);
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: var(--shadow-basic);
  padding: 1.5rem 1rem;
  margin: 2rem auto;
}

.form__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(3/12*100%);
  margin: 0 1rem;
}

.heading {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading__title {
  font-weight: 500;
  color: #34495e;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.heading__icon {
  margin-right: 4px;
  font-size: 1.6rem;
}

.heading__line {
  display: block;
  width: 100%;
  height: 1px;
  margin: .5rem 0;
  background: #34495e;
}

.form__input_group {
  display: flex;
  flex-direction: column;
  margin-bottom: .6rem;
}

.form__input,
.form__select {
  width: 18rem;
  padding: .5rem .8rem;
  outline: none;
  border: none;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: .2rem;
}

.form__control {
  margin: 1rem;
  display: flex;
}

.input__info {
  font-size: .9rem;
  font-weight: 600;
  color: var(--danger-red);
}

.error {
  border-color: var(--danger-red);
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary__item {
  flex-basis: calc(4/12*100%);
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--grey-light-color);
  background: var(--white-color);
  box-shadow: var(--shadow-basic);
}

.summary__item h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.summary__list {
  list-style-type: none;
}

.summary__list li {
  display: flex;
  margin-bottom: .2rem;
}

.summary__list b {
  margin-left: auto;
}

.separator {
  display: block;
  height: 1px;
  background: var(--main-dark);
  width: 100%;
  margin: .4rem 0;
  opacity: .1;
}