.footer {
  color: var(--font-light);
  border-top: 1px solid #eaeaea;
}

.wrapper {
  padding: 0 2rem;
  background: var(--main-dark);
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--white-color);
  padding: 2.5rem 2rem 1rem 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.links__container {
  padding: 0 1.5rem;
  color: var(--main-dark);
  margin-bottom: 1rem;
}

.links__title {
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--white-color);
  margin-bottom: .8rem;
}

.links__title::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: var(--main-accent);
  margin: .8rem auto 0 auto;
}

.links__list {
  list-style-type: none;
  
}

.links__list li {
  font-size: .9rem;
  margin-bottom: .2rem;
}

.links__list li a {
  transition: color .4s;
}

.links__list li a:hover {
  color: var(--main-accent);
}

.bottom {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.4rem 0;
}

/* MEDIA QUERIES */

@media (min-width: 568px) {
  .links {
    flex-direction: row;
  }

  .links__container {
    flex-basis: 50%;
  }
}

@media (min-width: 968px) {
  .links__container {
    flex-basis: unset;
  }
}