.wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: calc((9/12) * 100%);
}

.container__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .container__items {
    justify-content: unset;
  }
}