.aside {
  padding: 2rem 1rem;
  margin: 5px;
  border: 1px solid var(--grey-light-color);
  border-radius: 2px;
  box-shadow: var(--shadow-primary);
  background: var(--white-color);
  max-width: 24rem;
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .aside {
    flex-basis: calc(3/12 * 100%);
    max-width: unset;
    align-self: unset;
    width: unset;
  }
}